<div xmlns:th="http://www.thymeleaf.org">
    <ul class="listing posts" th:each="article : ${articles}">
        <li>
            <img th:src="'/images/blog_images/' + ${article.getId()} +  '.jpg'"
                 width="350" height="350" alt="Article Image">
            <h3 class="title" th:text="${article.getTitle()}"></h3>
            <span class="date" th:text="${#dates.format(article.getCreationDate(), 'dd-MMM-yyyy')}"></span>
            <div th:text="${article.getContent()}"></div>
            <div class="buttons-container">
                <a th:href="@{/admin/articles/edit/{id}(id=${advertisement.getId()})}" class="btn btn-info">Edit</a>
                <a th:href="@{/admin/articles/delete/{id}(id=${advertisement.getId()})}" class="btn btn-danger">Delete</a>
            </div>
        </li>
    </ul>
</div>