<header class="site-header" xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <input type="checkbox" id="nav-checkbox" name="nav-checkbox">
    <div sec:authorize="isFullyAuthenticated()">
        <h1><a th:href="@{/home}">AutoHub</a></h1>
    </div>
    <div sec:authorize="!isFullyAuthenticated()">
        <h1><a th:href="@{/}">AutoHub</a></h1>
    </div>
    <h3>Everything you need to know about cars. In one single page.</h3>
    <label for="nav-checkbox" id="toggle"><i class="fas fa-bars"></i></label>
    <nav class="navigation" id="navigation">
        <ul>
            <li sec:authorize="!isFullyAuthenticated()"><a th:href="@{/}">Home</a></li>
            <li sec:authorize="isFullyAuthenticated()"><a th:href="@{/home}">Home</a></li>
            <li sec:authorize="isFullyAuthenticated()">
                <a href="#">Blog</a>
                <ul>
                    <li><a th:href="@{/articles/news}">News</a></li>
                    <li><a th:href="@{/articles/sports}">Sports</a></li>
                    <li><a th:href="@{/articles/tips-and-tricks}">Tips &amp; Tricks</a></li>
                    <li sec:authorize="!hasAnyRole('USER')">
                        <a th:href="@{/articles/create}"><i class="fas fa-plus"></i>Add new article</a>
                    </li>
                </ul>
            </li>
            <li sec:authorize="isFullyAuthenticated()"><a th:href="@{/marketplace}">Marketplace</a></li>
            <li sec:authorize="isFullyAuthenticated()"><a th:href="@{/profile/{id}(id=${#authentication.getPrincipal().getId()})}">My
                Profile</a>
            </li>
            <li><a th:href="@{/about}">About us</a></li>
            <li><a th:href="@{/contacts}">Contact us</a></li>
            <li sec:authorize="hasAnyRole('ADMIN', 'ROOT')"><a th:href="@{/admin/users}">Users</a></li>
            <li sec:authorize="!isFullyAuthenticated()"><a th:href="@{/login}">Log In</a></li>
            <li sec:authorize="!isFullyAuthenticated()"><a th:href="@{/register}">Register</a></li>
            <li sec:authorize="isFullyAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
        </ul>
    </nav>
</header>