<div class="car-form" xmlns:th="http://www.thymeleaf.org" lang="en">
    <p>Part Info</p>
    <fieldset>
        <label for="name">Name*:</label>
        <div class="input-field">
            <i class="fas fa-cog"></i>
            <input type="text" placeholder="Name..." name="name" id="name" th:field="*{name}"
                   th:styleappend="${#fields.hasErrors('name')} ? 'border-color: red'" required>
            <ul class="text-danger" th:each="error : ${#fields.errors('name')}">
                <li>
                    <small th:text="${error}"></small>
                </li>
            </ul>
        </div>
    </fieldset>
    <fieldset>
        <label for="manufacturer">Manufacturer*:</label>
        <div class="input-field">
            <i class="fas fa-cog"></i>
            <input type="text" placeholder="Manufacturer..." name="manufacturer" id="manufacturer" th:field="*{manufacturer}"
                   th:styleappend="${#fields.hasErrors('manufacturer')} ? 'border-color: red'" required>
            <ul class="text-danger" th:each="error : ${#fields.errors('manufacturer')}">
                <li>
                    <small th:text="${error}"></small>
                </li>
            </ul>
        </div>
    </fieldset>
    <fieldset>
        <label for="carSuitableFor">Car suitable for*:</label>
        <div class="input-field">
            <i class="fas fa-cog"></i>
            <input type="text" placeholder="Car suitable for..." name="carSuitableFor" id="carSuitableFor" th:field="*{carSuitableFor}"
                   th:styleappend="${#fields.hasErrors('carSuitableFor')} ? 'border-color: red'" required>
            <ul class="text-danger" th:each="error : ${#fields.errors('carSuitableFor')}">
                <li>
                    <small th:text="${error}"></small>
                </li>
            </ul>
        </div>
    </fieldset>
    <fieldset>
        <label for="price">Price*:</label>
        <div class="input-field">
            <i class="fas fa-dollar-sign"></i>
            <input type="number" step="0.01" placeholder="Price..." name="price" id="price"  th:field="*{price}"
                   th:styleappend="${#fields.hasErrors('price')} ? 'border-color: red'" required>
            <ul class="text-danger" th:each="error : ${#fields.errors('price')}">
                <li>
                    <small th:text="${error}"></small>
                </li>
            </ul>
        </div>
    </fieldset>
    <fieldset>
        <label for="description">Description*:</label>
        <div class="input-field">
            <i class="far fa-file-alt"></i>
            <textarea rows="12" cols="60" placeholder="Description..." name="description"
                      id="description" th:field="*{description}"
                      th:styleappend="${#fields.hasErrors('description')} ? 'border-color: red'" required>
            </textarea>
            <ul class="text-danger" th:each="error : ${#fields.errors('description')}">
                <li>
                    <small th:text="${error}"></small>
                </li>
            </ul>
        </div>
    </fieldset>
    <p>Address</p>
    <fieldset>
        <label for="country">Country*:</label>
        <div class="input-field">
            <i class="fas fa-map-marked-alt"></i>
            <input type="text" placeholder="Country..." name="country" id="country" th:field="*{country}"
                   th:styleappend="${#fields.hasErrors('country')} ? 'border-color: red'" required>
            <ul class="text-danger" th:each="error : ${#fields.errors('country')}">
                <li>
                    <small th:text="${error}"></small>
                </li>
            </ul>
        </div>
    </fieldset>
    <fieldset>
        <label for="province">Province*:</label>
        <div class="input-field">
            <i class="fas fa-map-marked-alt"></i>
            <input type="text" placeholder="Province..." name="province" id="province" th:field="*{province}"
                   th:styleappend="${#fields.hasErrors('province')} ? 'border-color: red'" required>
            <ul class="text-danger" th:each="error : ${#fields.errors('province')}">
                <li>
                    <small th:text="${error}"></small>
                </li>
            </ul>
        </div>
    </fieldset>
    <fieldset>
        <label for="city">City*:</label>
        <div class="input-field">
            <i class="fas fa-map-marked-alt"></i>
            <input type="text" placeholder="City..." name="city" id="city" th:field="*{city}"
                   th:styleappend="${#fields.hasErrors('city')} ? 'border-color: red'" required>
            <ul class="text-danger" th:each="error : ${#fields.errors('city')}">
                <li>
                    <small th:text="${error}"></small>
                </li>
            </ul>
        </div>
    </fieldset>
    <fieldset id="part-image">
        <label for="file">Choose picture:</label>
        <div class="input-field">
            <input type="file" id="file" name="file" accept="image/*">
        </div>
    </fieldset>
    <button type="submit" class="button" id="part-button">Create Advertisement</button>
</div>