<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block>
    <div th:replace="fragments/head.html :: head"></div>
</th:block>
<body>
<div class="site">
    <th:block>
        <div th:replace="fragments/header.html :: header"></div>
    </th:block>
    <main class="site-content">
        <div class="profile d-flex flex-row">
            <div th:if="${advert.getImageFileName() == null}">
                <img th:src="'/images/car.png'" width="350" height="350" alt="Article Image"/>
            </div>
            <div th:if="${advert.getImageFileName() != null}">
                <img th:src="@{'/content/cars/' + ${advert.getImageFileName()}}"
                     width="350" height="350" alt="Article Image"/>
            </div>
            <div>
                <h3 class="full-name" th:text="${advert.getCar().getMake() + ' ' + advert.getCar().getModel()}"></h3>
                <p th:text="${#dates.format(advert.getCar().getProductionDate(), 'dd-MMM-yyyy') + ', ' + advert.getCar().getMileage() + ' miles'}"></p>
                <p th:text="${'Engine: ' + advert.getCar().getEngine().getVolume() + '' + advert.getCar().getEngine().getModification() + ' ' + advert.getCar().getEngine().getHorsepower() + ' HP'}"></p>
                <p th:text="${'Color: ' + advert.getCar().getColor()}"></p>
                <p th:text="${advert.getDescription()}"></p>
                <h3 th:text="${advert.getPrice()}"></h3>
            </div>
            <div>
                <h4 class="username" th:text="${advert.getUser().getUsername()}"></h4>
                <div class="username">
                    <a th:href="@{'mailto:' + ${advert.getUser().getEmail()}}" th:text="${advert.getUser().getEmail()}"/>
                </div>
                <div class="username">
                    <a th:href="@{'tel:' + ${advert.getUser().getPhoneNumber()}}" th:text="${'Call ' + advert.getUser().getPhoneNumber()}"/>
                </div>
            </div>
        </div>
        <div class="buttons-container" th:if="${advert.getUser().getUsername() == #authentication.getName()}">
            <a th:href="@{/marketplace/cars/edit/{id}(id=${advert.getId()})}" class="button">Edit
                advertisement</a>
            <a th:href="@{/marketplace/cars/delete/{id}(id=${advert.getId()})}" class="button button-danger">Delete
                advertisement</a>
        </div>
    </main>
    <th:block>
        <div th:replace="fragments/footer.html :: footer"></div>
    </th:block>
</div>
</body>
</html>