<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block>
    <div th:replace="fragments/head.html :: head"></div>
</th:block>
<body>
<div class="site">
    <th:block>
        <div th:replace="fragments/header.html :: header"></div>
    </th:block>
    <main class="site-content">
        <div class="contacts">
            <h2>Contact us</h2>
            <div class="contacts-container">
                <div>
                    <i class="fas fa-phone"></i>
                    <p>+359 888 000 888</p>
                </div>
                <div>
                    <i class="fas fa-envelope"></i>
                    <p>autohub@abv.bg</p>
                </div>
                <div>
                    <i class="far fa-compass"></i>
                    <p>8 Stefan Stambolov Str.,</p>
                    <p> 4400 Pazardzhik, Bulgaria</p>
                </div>
            </div>
            <p>Or simply drop us a line here!</p>
            <form method="post" action="/contacts">
                <fieldset>
                    <i class="fas fa-user"></i>
                    <input type="text" placeholder="Your Full Name..." name="name" id="name">
                </fieldset>
                <fieldset>
                    <i class="fas fa-at"></i>
                    <input type="email" placeholder="Your Email..." name="email" id="email">
                </fieldset>
                <fieldset>
                    <i class="fas fa-phone"></i>
                    <input type="number" placeholder="Your Phone Number..." name="phone" id="phone">
                </fieldset>
                <fieldset>
                    <i class="far fa-question-circle"></i>
                    <textarea name="message" id="message" cols="20" rows="10" placeholder="Your Question..."></textarea>
                </fieldset>
                <button type="submit" class="button">Submit</button>
            </form>
        </div>
    </main>
    <th:block>
        <div th:replace="fragments/footer.html :: footer"></div>
    </th:block>
</div>
</body>
</html>