<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block>
    <div th:replace="fragments/head.html :: head"></div>
</th:block>
<body>
<div class="site">
    <th:block>
        <div th:replace="fragments/header.html :: header"></div>
    </th:block>
    <main class="site-content">
        <h2>Delete Article</h2>
        <div class="site-main">

            <div class="justify-content-center text-center">
                <p class="mb-3">You are going to delete this advertisement.</p>
                <p class="mb-3" th:text="${article.getTitle()}"></p>
                <p class="p-danger">This action cannot be undone later!</p>
                <p>Are you sure?</p>
            </div>
            <div class="buttons-container">
                <form method="post" th:action="@{/articles/delete/{id}(id=${article.getId()})}">
                    <button type="submit" class="button button-danger">Delete article</button>
                </form>
                <a th:href="@{/home}" class="button">Cancel</a>
            </div>
        </div>
    </main>
    <th:block>
        <div th:replace="fragments/footer.html :: footer"></div>
    </th:block>
</div>
</body>
</html>