<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block>
    <div th:replace="fragments/head.html :: head"></div>
</th:block>
<body>
<div class="site">
    <th:block>
        <div th:replace="fragments/header.html :: header"></div>
    </th:block>
    <main class="site-content">
        <h2>Register</h2>
        <div class="site-main">
            <form method="post" th:action="@{/profile/edit/{id}(id=${user.getId()})}">
                <fieldset>
                    <label for="username">Choose your username*:</label>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="text" placeholder="Username..." name="username" id="username" th:value="${user.username}" disabled>
                    </div>
                </fieldset>
                <fieldset>
                    <label for="password">Choose your new password:</label>
                    <div class="input-field">
                        <i class="fas fa-unlock-alt"></i>
                        <input type="password" placeholder="New password..." name="password" id="password">
                    </div>
                </fieldset>
                <fieldset>
                    <label for="confirmPassword">Confirm your new password:</label>
                    <div class="input-field">
                        <i class="fas fa-unlock-alt"></i>
                        <input type="password" placeholder="Confirm Password..." name="confirmPassword"
                               id="confirmPassword">
                    </div>
                </fieldset>
                <fieldset>
                    <label for="email">Enter your email:</label>
                    <div class="input-field">
                        <i class="fas fa-at"></i>
                        <input type="email" placeholder="Email..." name="email" id="email"  th:value="${user.getEmail()}" required>
                    </div>
                </fieldset>
                <fieldset>
                    <label for="phoneNumber">Enter your phone number:</label>
                    <div class="input-field">
                        <i class="fas fa-at"></i>
                        <input type="number" placeholder="Phone number..." name="phoneNumber" id="phoneNumber"  th:value="${user.getPhoneNumber()}" required>
                    </div>
                </fieldset>
                <fieldset>
                    <label for="firstName">Enter your first name:</label>
                    <div class="input-field">
                        <i class="fas fa-users"></i>
                        <input type="text" placeholder="First Name..." name="firstName" id="firstName" th:value="${user.getFirstName()}" required>
                    </div>
                </fieldset>
                <fieldset>
                    <label for="lastName">Enter your last name:</label>
                    <div class="input-field">
                        <i class="fas fa-users"></i>
                        <input type="text" placeholder="Last Name..." name="lastName" id="lastName" th:value="${user.getLastName()}" required>
                    </div>
                </fieldset>
                <fieldset>
                    <label for="age">Enter your age:</label>
                    <div class="input-field">
                        <i class="fas fa-sort-numeric-up"></i>
                        <input type="text" placeholder="Age..." name="age" id="age" th:value="${user.getAge()}" required>
                    </div>
                </fieldset>
                <fieldset>
                    <label for="gender">Enter your gender:</label>
                    <div class="input-field">
                        <i class="fas fa-male"></i>
                        <i class="fas fa-female"></i>
                        <select id="gender" name="gender" required th:value="${user.getGender()}">
                            <option th:value="MALE" th:if="${user.getGender().name() == 'MALE'}" selected>Male</option>
                            <option th:value="MALE" th:if="${user.getGender().name() != 'MALE'}">Male</option>
                            <option th:value="FEMALE" th:if="${user.getGender().name() == 'FEMALE'}" selected>Female</option>
                            <option th:value="FEMALE" th:if="${user.getGender().name() != 'FEMALE'}">Female</option>
                        </select>
                    </div>
                </fieldset>
                <button type="submit" class="button">Edit</button>
            </form>
        </div>
    </main>
    <th:block>
        <div th:replace="fragments/footer.html :: footer"></div>
    </th:block>
</div>
</body>
</html>