<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<input type="checkbox" id="chooseCars" name="nav-checkbox"/>
<input type="checkbox" id="chooseParts" name="nav-checkbox"/>
<th:block>
    <div th:replace="fragments/head.html :: head"></div>
</th:block>
<body>
<div class="site">
    <th:block>
        <div th:replace="fragments/header.html :: header"></div>
    </th:block>
    <main class="site-content">
        <div class="site-main">
            <h2>Marketplace</h2>
            <th:block>
                <div th:replace="fragments/marketplace-controls.html :: div"></div>
            </th:block>
            <div class="radio-choice flex-row justify-content-center buttons-container">
                <label for="chooseCars" class="button">View all Cars</label>
                <label for="chooseParts" class="button">View all Parts</label>
            </div>
            <div class="marketplace">
                <ul class="listing marketplace" id="list-cars">
                </ul>
                <ul class="listing marketplace" id="list-parts">
                </ul>
            </div>
        </div>

    </main>
    <th:block>
        <div th:replace="fragments/footer.html :: footer"></div>
    </th:block>

    <script>

        $("input[id='chooseCars']").change(() => {
            if ($("input[id='chooseCars']:checked")) {
                $("#list-cars").empty().css("display", "block");
                $("#list-parts").css("display", "none");
                fetch('http://localhost:8000/fetch/cars')
                    .then((response) => response.json())
                    .then((json) => json.forEach((x) => {
                        console.log("info")
                        let li = $("<li>");
                        $(`<img src='/images/car_images/${x.id}.jpg' alt="advertisement picture"/>`).appendTo(li);
                        $("<h4>").addClass("title").text(x.car.make + ' ' + x.car.model).appendTo(li);
                        let info = $("<div class=\"car-info\">");
                        $("<p>").text(x.car.engine.volume + x.car.engine.modification + ', ' + x.car.engine.horsepower + 'HP').appendTo(info);
                        $("<p>").text(x.price + '$').appendTo(info);
                        $(info).appendTo(li);
                        let button = $(`<a class="button" href="/marketplace/cars/details/${x.id}">`).text("Details");
                        $(button).appendTo(li);
                        $("#list-cars").append(li);
                    }));
            }
        });

        $("input[id='chooseParts']").change(() => {
            if ($("input[id='chooseParts']:checked")) {
                $("#list-parts").empty().css("display", "block");
                $("#list-cars").css("display", "none");
                fetch('http://localhost:8000/fetch/parts')
                    .then((response) => response.json())
                    .then((json) => json.forEach((x) => {
                        let li = $("<li>");
                        $(`<img src='/images/part_images/${x.id}.jpg' alt="advertisement picture"/>`).appendTo(li);
                        $("<h4>").addClass("title").text(x.part.name).appendTo(li);
                        let info = $("<div class=\"car-info\">");
                        $("<p>").text(x.part.manufacturer).appendTo(info);
                        $("<p>").text('Suitable for: ' + x.part.carSuitableFor).appendTo(info);
                        $("<p>").text(x.price + '$').appendTo(info);
                        $(info).appendTo(li);
                        let button = $(`<a class="button" href="/marketplace/cars/details/${x.id}">`).text("Details");
                        $(button).appendTo(li);
                        $("#list-parts").append(li);
                    }));
            }
        });
    </script>
</div>
</body>
</html>