<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block>
    <div th:replace="fragments/head.html :: head"></div>
</th:block>
<body>
<div class="site">
    <th:block>
        <div th:replace="fragments/header.html :: header"></div>
    </th:block>
    <main class="site-content">
        <div class="profile d-flex flex-row">
            <div th:if="${advert.getImageFileName() == null}">
                <img th:src="'/images/part.png'" width="350" height="auto" alt="Article Image"/>
            </div>
            <div th:if="${advert.getImageFileName() != null}">
                <img th:src="@{'/content/parts/' + ${advert.getImageFileName()}}"
                     width="350" height="350" alt="Article Image"/>
            </div>
            <div>
                <h3 class="full-name" th:text="${advert.getPart().getName()}"></h3>
                <p th:text="${'Manufacturer: ' + advert.getPart().getManufacturer()}"></p>
                <p th:text="${'Cars suitable for: ' + advert.getPart().getCarSuitableFor()}"></p>
                <p th:text="${advert.getDescription()}"></p>
                <h3 th:text="${advert.getPrice()}"></h3>
            </div>
            <div>
                <h4 class="username" th:text="${advert.getUser().getUsername()}"></h4>
                <div class="username">
                    <a th:href="@{'mailto:' + ${advert.getUser().getEmail()}}" th:text="${advert.getUser().getEmail()}"/>
                </div>
                <div class="username">
                    <a th:href="@{'tel:' + ${advert.getUser().getPhoneNumber()}}" th:text="${'Call ' + advert.getUser().getPhoneNumber()}"/>
                </div>
            </div>
        </div>
        <div class="buttons-container" th:if="${advert.getUser().getUsername() == #authentication.getName()}">
            <a th:href="@{/marketplace/parts/edit/{id}(id=${advert.getId()})}" class="button">Edit
                advertisement</a>
            <a th:href="@{/marketplace/parts/delete/{id}(id=${advert.getId()})}" class="button button-danger">Delete
                advertisement</a>
        </div>
    </main>
    <th:block>
        <div th:replace="fragments/footer.html :: footer"></div>
    </th:block>
</div>
</body>
</html>
