<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block>
    <div th:replace="fragments/head.html :: head"></div>
</th:block>
<body>
<div class="site">
    <th:block>
        <div th:replace="fragments/header.html :: header"></div>
    </th:block>
    <main class="site-content">
        <h2>Register</h2>
        <div class="site-main">
            <form th:method="post" th:action="@{/register}" enctype="multipart/form-data" th:object="${user}">
                <div th:replace="fragments/user-register-form.html :: div"></div>
            </form>
        </div>
    </main>
    <script>
        $("#oldPasswordInput").css("display", "none")
    </script>
    <th:block>
        <div th:replace="fragments/footer.html :: footer"></div>
    </th:block>
</div>
</body>
</html>